*{
    text-align: center;
    font-family: "Helvetica";
    text-decoration: none;
}
body{
    margin: 0px 65px 0px 0px;
}
p, h1, footer{
    padding: 10px;
}
p, h1, footer, img{
    border: 20px solid green;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    background-color: green;
    color: white;
    width: 30%;
}
.S{
    transition: 0.5s;
    background-color: red;
    color: white;
    padding: 20px;
    border: 20px solid blue;
    border-radius: 20px;
    display: inline-block;
}

.S:active{
    padding: 10px;
}
.S:hover{
    background-color: red;
    border: 20px solid blue;
}
footer{
    font-size: 40px;
    
}

@keyframes fade {
  0%{ opacity: 0; }
  10%{ opacity: 1; }
  20%{ opacity: 1; }
  30%{ opacity: 1; }
  40%{ opacity: 0; }
  50%{ opacity: 0; }
  60%{ opacity: 0; }
  70%{ opacity: 0; }
  80%{ opacity: 0; }
  90%{ opacity: 0; } 
  100% { opacity: 0; }
}	


nav{
    width: 100%;
}